.field
  %label Ticket holder
  %input{type: 'text', disabled: 'true', value: ticket.name}
.field
  %label Email
  %input{type: 'email', disabled: 'true', value: ticket.email}
.field
  = form.label :schedule_id do
    = activity_type.name.titleize
  %select#selection_schedule_id{name: 'selection[schedule_id]'}
    - ticket.available_schedules(festival).each do |date, schedules|
      %optgroup{label: l(date, format: :full)}
        - schedules.each do |schedule|
          %option{value: schedule.id, disabled: schedule.full?, selected: ticket.schedule_id == schedule.id}
            = "[FULL]" if schedule.full?
            = schedule.name
            = "(#{schedule.times})"

  = form.error_messages_for :schedule_id

