.incident{role: :listitem}
  .date
    .day= incident.created_at.strftime('%A')
    .time= l(incident.created_at, format: :ampm)
  = link_to admin_incident_path(festival, incident), class: 'summary' do
    .participant= incident.participant || t('.anonymous')
    .description= incident.description(false)
  .latest-comment
    - if incident.latest_comment.present?
      .commenter
        = icon(:comment)
        = t('.commenter', name: incident.latest_comment.participant)
      .time= time_ago_in_words(incident.latest_comment.created_at) + ' ago'


