%table.main{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
  %tr
    %td.alert
      = t('.registered', festival: @festival)
  %tr
    %td.content-wrap
      %table{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
        %tr
          %td.content-block
            = t('.greeting', name: @participant.name)
        %tr
          %td.content-block
            = t('.intro')

        - @pending_payments.each do |payment|
          %tr
            %td.content-block
              = render partial: "/payments/instructions/#{payment.payment_method.key}", locals: { payment: payment }
        %tr
          %td.content-block
            = t('.next_steps')
        %tr
          %td.content-block
            = link_to t('.registration_link', festival: @festival.name), registration_url(@festival), class: 'btn-primary'
        %tr
          %td.content-block
            = t('.see_you')
        = render 'thanks'
