- content_for :title, t('.title'), flush: true

= render "devise/shared/flash"
= form_for(resource, as: resource_name, url: user_signup_path) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    = f.email_field :email, autofocus: true
  .field
    = f.label :password do
      %span= f.label_text :password
      - if @minimum_password_length
        %small (#{@minimum_password_length} characters minimum)
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off"
  = f.submit t('.submit')
%footer= render "devise/shared/links"
