- content_for :title, t('.title')

%header
  %section
    %h1= t('.title')
    %h2{rel: :range}= date_range(timetable.dates.first, timetable.dates.last)
    %h2{rel: :single}= l(timetable.dates.first, format: :full)
  %aside
    %button{rel: :prev}= icon :keyboard_arrow_left
    %button{rel: :next}= icon :keyboard_arrow_right

%section
  %section{role: :grid}
    %header{role: :row}
      - timetable.times.each do |time|
        %p{role: :columnheader}= l(time, format: :short).sub(/^0/, '')
    - timetable.dates.each.with_index do |date, index|
      %section{role: :row, aria: { selected: index.zero?.inspect }, data: { date: l(date), title: l(date, format: :full) }}
        %h3{role: :rowheader}= l(date, format: :weekday)
        - timetable.times(date).each do |time|
          %section{role: :gridcell, data: { time: time.iso8601 }}

%footer
  %hr{role: :separator}
