- content_for :title, t('.title')

%header
  .inner
    %h1= t('.title')

%section.incident-report
  .inner
    %p= t('.thanks')
    %h2= t('.what_now.title')
    %ol
      %li= t('.what_now.next_steps.one')
      %li= t('.what_now.next_steps.two')
      %li= t('.what_now.next_steps.three')
