= registration_step_form do |form|
  %section
    .inner
      %p= t('.intro')
  %section.code-of-conduct
    .inner
      %article
        :markdown
          #{render file: "/shared/_code_of_conduct.md"}
  %section.agree-to-the-above
    .inner
      = form.check_box :code_of_conduct_accepted
      = form.label :code_of_conduct_accepted do
        = inline_svg "icons/check-circle-large"
        %span= t('.agree')
      = form.submit t('.continue')
