%section.package-selection
  .inner
    = form_for registration_form.step, as: :registration, url: register_path(festival), method: :post do |form|
      %ul.packages
        - festival.packages.sort.each do |package|
          %li
            %label
              = form.radio_button :package_id, package.id
              = form.label :"package_id_#{package.id}", package.name
      = form.submit t('.continue')
