%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
= title_tag
= csrf_meta_tags
%meta{name: "viewport", content: "width=device-width"}
%meta{name: "apple-mobile-web-app-capable", content: "yes"}
%meta{name: "mobile-web-app-capable", content: "yes"}
= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900'
= render "/application/favicon"
= yield :head
