%nav
  .inner
    = homepage_link
    - if signed_in?
      .user-menu
        = link_to registration_path, class: "user-menu-target" do
          = avatar(participant)
        %ul
          - if registration.present?
            = menu_link(t('header.links.registration', festival: festival.year), registration_path(festival), :assignment_ind, rel: 'registered')
            = menu_link(t('header.links.itinerary'), itinerary_path(festival), :list)
          - else
            = menu_link(t('header.links.register', festival: festival.year), register_path(festival), :assignment_ind)
          - if current_user.admin?
            = menu_link(t('header.links.festival_admin'), admin_festival_path(festival), :settings)
          = menu_link(t('header.authentication.log_out'), logout_path, :exit_to_app, method: :delete)
    - else
      = link_to t('header.authentication.log_in'), login_path
