- content_for :title, @show.name

%header.activity-header
  .inner
    = link_to box_office_shows_path(festival), rel: :back do
      = icon(:arrow_back)
      %span Bookings
    %h1= @show.name
    %h2= @show.date_and_time

%section.box-office-tickets
  .inner
    %h2
      = [@show.count, @show.limit].compact.join(' of ')
      = 'ticket'.pluralize(@show.limit || @show.count)
      sold
    %ul.tickets
      = render @show.bookings
