.field
  = form.label :name
  = form.text_field :name
  = form.error_messages_for :name
.field
  = form.label :email
  = form.email_field :email
  = form.error_messages_for :email
.field
  = form.label :admin do
    = form.check_box :admin, disabled: form.object.user == current_user
    Administrator?
.field
  = form.label :bio
  ~ form.text_area :bio, rows: 5
  = form.error_messages_for :bio
.field
  = form.label :origin
  = form.text_field :origin
  = form.error_messages_for :origin
.field
  = form.label :company
  = form.text_field :company
  = form.error_messages_for :company
.field
  = form.label :avatar
  = image_tag form.object.avatar.url(:medium) if form.object.avatar.present?
  = form.file_field :avatar
  = form.error_messages_for :avatar
