.field
  = form.label :package_id
  - festival.packages.sort.each do |package|
    %label
      = form.radio_button :package_id, package.id
      %span= package.name
%footer
  = form.submit t("admin.registrations.#{action_name}.submit")
