- content_for :title, @activity.name

%header
  %section
    %h1= @activity.name
    %p
      %span= @activity.date_and_time
  %aside
    = link_to @activity.back_path, rel: :back do
      Back

%section.box-office-tickets
  .inner
    %h2
      = [@activity.count, @activity.limit].compact.join(' of ')
      = 'ticket'.pluralize(@activity.limit || @activity.count)
      sold
    %ul.tickets
      = render partial: 'admin/reports/booking', collection: @activity.bookings
