.field
  = form.label :name
  = form.text_field :name
  = form.error_messages_for :name
.field
  = form.label :facilitator_ids
  .split
    = form.select :facilitator_ids, Participant.by_name.all.map { |p| [p.name, p.id] }, {}, multiple: true, data: { placeholder: t('.select_facilitators') }
    = link_to new_admin_facilitator_path, data: { dialog: 'new-facilitator' } do
      = icon(:person_add)
  = form.error_messages_for :facilitator_ids
.field
  = form.label :grade
  = form.select :grade, Activity.grades.keys.map { |grade| [t(grade, scope: 'activities.grades'), grade] }
  = form.error_messages_for :grade
.field
  = form.label :description do
    = form.label_text :description
    %small= link_to "Formatting help", "https://daringfireball.net/projects/markdown/syntax", target: :_blank
  = form.text_area :description, rows: 10
  = form.error_messages_for :description
.field
  = form.label :image do
    = form.label_text :image
    %small= t('.best_image_size')
  = image_tag form.object.image.url(:small) if form.object.image.present?
  = form.file_field :image
  = form.error_messages_for :image

