.field
  = form.label :name
  = form.text_field :name
  = form.error_messages_for :name
.field
  = form.label :facilitator_ids
  = form.select :facilitator_ids, Participant.by_name.all.map { |p| [p.name, p.id] }, {}, multiple: true, data: { placeholder: t('.select_facilitators') }
  = form.error_messages_for :facilitator_ids
.field
  = form.label :description do
    = form.label_text :description
    %small
      = link_to "Formatting help", "https://daringfireball.net/projects/markdown/syntax", target: :_blank
  = form.text_area :description, rows: 10
  = form.error_messages_for :description
