- content_for :title, t('.title', type: activity.class.model_name.human.downcase)
- content_for :navigation_button, back_button(admin_activities_path(festival, type: activity.class))

%header
  %section
    %h1= t('.title', type: activity.class.model_name.human.downcase)
    %h2= festival.name

%section
  = form_for activity_form, as: :activity, url: admin_activities_path(festival, type: activity.class), html: { class: "activity-form" }  do |form|
    = render partial: "form", object: form

    %footer
      = form.submit t('.submit', type: activity.class.model_name.human.downcase)
