- content_for :title, "NZIF 2017: The Festival of Moments"

- content_for :head do
  = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Work+Sans"
 
%header{role: "banner", data: { year: 2017 }}
  .inner
    .title
      %h1= festival.name
      %h2= date_range(festival.start_date, festival.end_date)

%section.homepage{data: { year: 2017 }}
  .inner
    %blockquote
      %p
        It’s only when you think back over what was created
        %b in the moments
        that you realise what small miracles have occurred.
      %cite Theatreview

    %section
      %p The New Zealand Improv Festival gathers improvisational theatre companies from around the nation (and around the globe) to present new work, learn new skills and make connections across the industry.

      %ul.summary
        - @summary.activities.each do |type, activities|
          %li{data: { summary: type.to_param }}
            %b= activities.count
            %span= t(".summary.#{type.name.demodulize.underscore.pluralize}", url: activity_type_path(festival, type)).html_safe
        %li{data: { summary: 'participants' }}
          %b= @summary.participants
          %span= t('.summary.participants', url: register_path(festival)).html_safe

    %aside
      - if registration.present?
        = link_to t('.registration'), registration_path(festival), role: :button
      - else
        = link_to t('.register'), register_path(festival), role: :button
      %ul
        %li
          = link_to activities_path(festival) do
            = icon :local_activity
            %span= t('.activities')
