!!!
%html
  %head
    - content_for :head do
      = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload'
      = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'
    = render "shared/head"
  %body
    = check_box_tag "show-navigation", "show", false, autocomplete: :off
    %nav
      %ul
        = admin_menu :festival, icon: :home, label: festival.name
        = admin_menu :participants, icon: :people
        = admin_menu :packages, icon: :pages
    %main
      .menu-navigation
        = content_for(:navigation_button) || content_tag(:label, icon(:menu), for: "show-navigation")
      = yield
