!!!
%html
  %head
    - content_for :head do
      = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload'
      = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'
    = render "shared/head"
  %body{data: { controller: controller_name, action: action_name }}
    = check_box_tag "show-navigation", "show", false, autocomplete: :off
    %nav
      %ul
        = admin_menu :festival, icon: :home, label: festival.name
        = admin_menu :participants, icon: :people
        = admin_menu :payments, icon: :payment
        = admin_menu :activities, icon: :local_activity
        = admin_menu :timetable, icon: :today
        = admin_menu :venues, icon: :place
        = admin_menu :packages, icon: :pages
    %main
      .menu-navigation
        = content_for(:navigation_button) || content_tag(:label, icon(:menu), for: "show-navigation")
      = yield
