!!!
%html
  %head
    - content_for :head do
      = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
      = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render "shared/head"
  %body
    %nav.top-navigation
      .inner
        = homepage_link
        - if signed_in?
          = link_to t('header.authentication.log_out'), logout_path, method: :delete
        - else
          = link_to t('header.authentication.log_in'), login_path
    = yield
