%tr.payment
  %td= l(payment.created_at.to_date, format: :account)
  %td
    = t('account.payment', payment_method: payment.payment_method.model_name.human)
    = content_tag(:b, t('account.payment_pending')) if payment.pending?
    = content_tag(:small, t('account.includes_fee', payment_method: payment.payment_method.model_name.human, fee: payment.fee.format)) unless payment.fee.zero?
  %td= m payment.total 
  %td
