%header
  %section
    %h1= t('.title')
    %h2= festival.name

%section
  = form_for @voucher, url: admin_vouchers_path do |form|
    = render partial: "form", object: form
    = form.submit t('.submit')
